h1 {
  text-align: center;
  background-color: orange;
  line-height: 50px;
  justify-content: centre;
  color: white;
}

h3 {
  text-align: center;
}

/* Main divs styling */
#style div {
  background-color: white;
  text-align: center;
  width: 100px;
  margin: 10px;
  font-size: 30px;
  padding: 20px;
  line-height: 75px;
  border-radius: 15px;
  color: dodgerblue;
}

/* small divs styling */

.main {
  background-color: dodgerblue;
  margin-top: 10px;
  display: flex;
}

/* ////////////////////////////////////////////////// */

/* The flex-direction Property */

/* column */
.column {
  flex-direction: column;
}

/* column reverse */
.column-reverse {
  flex-direction: column-reverse;
}

/* row */
.row {
  flex-direction: row;
}

/* row reverse */
.row-reverse {
  flex-direction: row-reverse;
}

/* ////////////////////////////////////////////////// */

/* flex wrap property */

/* wrap */

.wrap {
  flex-wrap: wrap;
}

/* nowrap */

.nowrap {
  flex-wrap: nowrap;
}

/* wrap-reverse */

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* ////////////////////////////////////////////////// */

/* The flex-flow poperty */

.flex-flow {
  flex-flow: row wrap;
}

/* ////////////////////////////////////////////////// */

/* Justify Content styling */

/* Space-between */

.space-between {
  justify-content: space-between;
}

/* Space around */

.space-around {
  justify-content: space-around;
}

/* Center */
.centered {
  justify-content: center;
}

/* flex start */
.flex-start {
  justify-content: flex-start;
}

/* flex start */
.flex-end {
  justify-content: flex-end;
}

/* ///////////////////////////////////////////////////// */

/* align items property */

/* Main divs styling */
#aligny div {
  background-color: white;
  text-align: center;
  line-height: 75px;
  width: 100px;
  margin: 10px;
  font-size: 30px;
  border-radius: 15px;
  color: dodgerblue;
}

/* small divs styling */

.align {
  background-color: dodgerblue;
  margin-top: 10px;
  display: flex;
  height: 400px;
}

/* flex-start */
.flex-start {
  align-items: flex-start;
}

/* center */
.align-center {
  align-items: center;
}

/* flex-start */
.flex-end {
  align-items: flex-end;
}

/* Stretch */
.strech {
  align-items: Stretch;
}

/* Baseline */
.Baseline {
  align-items: baseline;
}

/* ///////////////////////////////////////////////////////// */

/* align-content property */

/* Main divs styling */
#align-c div {
  background-color: white;
  text-align: center;
  line-height: 75px;
  width: 100px;
  margin: 10px;
  font-size: 30px;
  border-radius: 15px;
  color: dodgerblue;
}

/* small divs styling */

.align-content {
  background-color: dodgerblue;
  overflow: scroll;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
}

/* space-between */
.space-between {
  align-content: space-between;
}

/* space-around */
.space-around {
  align-content: space-around;
}

/* stretch */
.stretch {
  align-content: stretch;
}

/* center */
.center {
  align-content: center;
}

/* flex start */
.flex-start {
  align-content: flex-start;
}

/* flex end */
.flex-end {
  align-content: flex-end;
}

/* //////////////////////////////////////////////////////// */

/* Perfect centering */

/* Main divs styling */
#perfect-c div {
  background-color: white;
  text-align: center;
  line-height: 75px;
  width: 100px;
  margin: 10px;
  height: 100px;
  font-size: 30px;
  border-radius: 15px;
  color: dodgerblue;
}

/* small divs styling */

.perfect-centering {
  background-color: dodgerblue;
  overflow: scroll;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
}

/* centering */
.perfect-center {
  align-items: center;
  justify-content: center;
}
